.image {
	background-image: url("example_map.jpg");
	height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    width: 100%;
    text-align:center;
    margin-top: 3cm;
}
