.image {
	background-image: url("example_map.jpg");
	height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    width: 100%;
    text-align:center;
    margin-top: 3cm;
}

.image-text{
    text-align:center;
    margin-top: 3cm;
}


input[type="search"] {
    font-size: 36px;
    color: #333;
    font-family: Arial, sans-serif;
}

.test{
    height:56px;
    width:56px;
}
