<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<header>
    <div class="image">
    <h2 id="image-text">
            RCnum
    </h2>
    </div>
</header>


<body>

        <form method="POST">

        <select name="cat_select" class="Input">
            {% for cat in categorie %}
            <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
        </select>

        <select name="an_select" class="Input">
            {% for an in ans %}
            <option value="{{ an }}">{{ an }}</option>
            {% endfor %}
        </select>

        <input 
            type="search" 
            id="search" 
            name="pers_sel"
            placeholder="Search"   
            size="30"/>
        <input type="submit" value="search">

        </form>

        {% if results %}
        <ul>
                {% for result in results %}
                    {% if result.graphie %}
                        Graphie: {{ result.graphie }}, Variante: {{ result.variante }}
                    {% endif %}
                    {% if result.label %}
                        An: {{ result.date }}, Label: {{ result.label }}, Texte: {{ result.texte }}
                    {% endif %}
                    <br>
                {% endfor %}
        </ul>
        {% else %}
            <p>Nessun risultato trovato.</p>
        {% endif %}
        
</body>
</html>
